<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisements</title>
</head>
<body>
    <h1>Choice advertisement:</h1>
    <ul>
        <li th:each="advertisement : ${advertisements}">
            <a th:href="@{'/advertisements/' + ${advertisement.getId()}}" th:text="${advertisement.getBasicInfo().getName()} + ', price: ' + ${advertisement.getBasicInfo().getPrice()} + '$'"></a>
        </li>
    </ul>
    <h3>
        <br><a href="/advertisements/new">Create new advertisement</a>
        <br><a href="../">Return to main menu</a>
    </h3>
</body>
</html>